.series-view__description {
  position: relative;
  height: $series-view-description-height;
  @include border-radius($view-movie-block-border-radius);
  background-repeat: no-repeat;
  background-size: cover;
}

.series-view__description-poster {
  height: 270px;
  width: 180px;
  margin-top: 20px;
  position: relative;
  z-index: 3;

  img {
    @include border-radius($poster-border-radius);
  }
}

.series-view__description-title {
  margin-bottom: 0;
  margin-top: 10px;
}

.series-view__description-data {
  margin-bottom: 10px;

  span {
    font-size: 12px;
    display: inline-block;
    margin-left: 20px;
  }

  span:first-child {
    margin-left: 0;
  }
}

.series-view__description-text {
  position: relative;
  z-index: 3;
  margin-bottom: 0;
  color: #ffffff;
  max-height: 245px;
  overflow-y: hidden;
}

.series-view__description-transparent-bg {
  position: absolute;
  width: 100%;
  height: $series-view-description-height;
  top: 0;
  left: 0;
  background: rgba(10, 10, 10, .5);
  @include border-radius($view-movie-block-border-radius);
}