// sections
$section-margin-top: 30px;

// posters
$poster-border-radius: 3px;
$poster-box-shadow: 0 5px 25px rgba(0, 0, 0, .3);

// series posters
$series-poster-box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.3);

// TED
$ted-item-box-shadow: 0 2px 0 0 #E7E7E7;

// view movie page
$view-movie-block-border-radius: 4px;