@import "_variables";
@import "mixins/_border_radius";
@import "mixins/box_shadow";

.outlined {
  outline: 1px red dotted;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

#wrapper {
  min-width: 1020px;
}

// blocks: common styles start
.movie-list, .series-list, .ted-list, .movie-view {
  margin-top: $section-margin-top;
}

// blocks: common styles   end

// block: movie-list-header start
@import "blocks/movie-list-header";

// block: movie-list start
@import "blocks/movie-list";

// block: series-list start
@import "blocks/series-list";

// block: ted-list start
@import "blocks/ted-list";

// block: movie-view start
@import "blocks/movie-view";

// block: footer start
@import "blocks/footer";